.orange-star {
  color: #ffa500;
}

.rating-ratio {
  font-size: 2em; /* Increase the font size */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numerical-value {
  margin-bottom: 5px; /* Adjust margin as needed */
}

.stars-container {
  display: flex;
}

