@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: lightblue;
    display: flex;
    align-items: center;
    justify-content:  center;
    min-height: 100vh;
}
.container{
   
    background-color:lightsalmon;
    max-width: 900px;
    width: 100%;
    border-radius: 10px;
    padding: 50px;
    margin: 0 15px;
    box-shadow: 0 5px 10px gray;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}



.container header{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
}

.container form{
    position: relative;
    font-size: 16px;
    min-height: 120px;
}

.container form .details{
     
    margin-top:  20px;
}

.container form .title{
    
    margin-top: 20px;
    font-size: large;
    font-weight: 600;
    display: block;
}

.container form .fields{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

form .fields .input-field{
    display: flex;
    flex-direction: column;
    margin: 4px 0;
}

.input-field input{
    height: 30px;
    width: 240px;
    border-radius: 5px;
    padding: 2px;
    margin: 8px 0;
    outline: none;
}
.input-field label{
    font-size: 15px;
}

.input-field input:is(:focus, :valid){
    box-shadow: 0 3px 3px black;
} /*to be studied*/

.container form .abstractField{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

form .abstractField .abstract-field{
    display: flex;
    flex-direction: column;
    margin: 4px 0;
    outline: none;
}

.abstract-field label{
    font-size: 15px;
}

textarea{
    height: 250px;
    width: 800px;
    border-radius: 5px;
    padding: 2px;
    margin: 8px 0;
    outline: none;
    resize: none;
   }

textarea:is(:focus, :valid){
    box-shadow: 0 3px 3px black;
} /*to be studied*/

form .button, .remove_button {
    height: 55px;
    border-radius: 5px;
    width: 100%;
    background-color: lightblue;
    margin-top: 20px; /* Add margin top for spacing */
    border: none; /* Remove default button border */
    cursor: pointer; /* Change cursor to pointer on hover */
    font-size: 16px; /* Set font size */
    font-weight: bold; /* Set font weight */   
}

form .button:hover, .remove_button:hover{
    background-color: darkcyan;
}

.alert {
    padding: 20px;
    background-color: darkcyan;
    color: white;
  }
  
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
  }
  
  .closebtn:hover {
    color: black;
  }