#content-wrapper{
   background-color: #b8b8b8 !important; 
} 

.box{
  width: 90%;
  max-width: 800px;
  margin: 100px auto;
  background: rgb(249, 248, 248);
  border-radius: 7px;
  box-shadow: 20px 20px 50px rgba(0,0,0,.5);
  backdrop-filter: blur(10px);
}

.box .heading{
  background: whitesmoke;
  border-radius: 7px 7px 0px 0px;
  padding: 10px;
  color: #000000;
  text-align: center;
  font-size: 24px;
  
}

.faqs{
  padding: 0px 20px 20px;
}

::-webkit-details-marker{
  float: right;
  margin-top: 3px;
}

details{
  background: #ffffff;
  padding: 10px 20px;
  border-radius: 7px;
  margin-top: 20px;
  box-shadow: 3px 3px 10px rgba(0,0,0,.2);
  backdrop-filter: blur(2px);
  font-size: 20px;
  letter-spacing: 1px;
  cursor: pointer;
  justify-content: center;
  text-align: justify;
}

details summary{
  outline: none;
}

@media screen and (max-width: 768px) {
  .box {
     width: 90%;
     margin: 50px auto;
  }
}