#content-wrapper{
   background-color: #F7F8FB!important; 
} 

.box{
   width: 90%;
   max-width: 800px;
   margin: 100px auto;
   background: url(FAQS.png);
   background-size: cover;
   background-position: 100%; /* Adjust the background-position property */
   border-radius: 15px;
   box-shadow: 5px 5px 8px rgba(117, 117, 117, 0.5);
   backdrop-filter: blur(10px);

}

.box .heading{
  background:linear-gradient(to right, #FFAE44, #ffd582);
  border-radius: 7px 7px 0px 0px;
  padding: 10px;  
  color: #ffffff;
  text-align: center;
  font-size: 50px;
  font-style:initial;
  font-weight:bolder;
  
}

.faqs{
  padding: 0px 20px 20px;
}

::-webkit-details-marker{
  float: right;
  margin-top: 3px;
}

details{
  background: #fafafa;
  padding: 10px 20px;
  border-radius: 7px;
  margin-top: 20px;
  backdrop-filter: blur(2px);
  font-size: 20px;
  letter-spacing: 1px;
  cursor: pointer;
  justify-content: center;
  text-align: justify;
  color:#5e5e5e;
}

details summary{
  outline: none;
}

@media screen and (max-width: 768px) {
  .box {
     width: 90%;
     margin: 50px auto;
  }
}