@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
:root {
    --blue: #4e73df;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: none;
    transition: .2s linear;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
section {
    padding: 2rem 9%;
}
.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}
.btn:hover {
    background: var(--blue);
}
.heading {
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255, 51, 153, .05);
}
.heading span {
    color: var(--blue);
}
.features {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(../images/) no-repeat;
    background-size: cover;
    background-position: center;
}
.features .content {
    max-width: 50rem;
}
.features .content h3 {
    font-size: 6rem;
    color: #333;
}
.features .content span {
    font-size: 3.5rem;
    color: var(--blue);
    padding: 1rem 0;
    line-height: 1.5;
}
.features .content p {
    font-size: 1.5rem;
    color: #999;
    padding: 1rem 0;
    line-height: 1.5;
}
.feature0 .row {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}
.feature0 .row .video-container {
    flex: 1 1 40rem;
    position: relative;
}
.feature0 .row .video-container video {
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    height: 100%;
    object-fit: cover;
}
.feature0 .row .content {
    flex: 1 1 40rem;
}
.feature0 .row .content h3 {
    font-size: 3rem;
    color: #333;
}
.feature0 .row .content p {
    font-size: 1.5rem;
    color: #999;
    padding: .5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}
.contact .row {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 1.5rem;
    align-items: center;
}
.contact .row form {
    flex: 1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border: .1rem solid rgba(0, 0, 0, .1);
    background: #fff;
    border-radius: .5rem;
}
.contact .row .image {
    flex: 1 1 40rem;
}
.contact .row .image img {
    width: 100%;
}
.contact .row form .box {
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border: .1rem solid rgba(0, 0, 0, .1);
    border-radius: .5rem;
    margin: .7rem 0;
    width: 100%;
}
.contact .row form .box:focus {
    border-color: var(--blue);
}
.contact .row form textarea {
    height: 15rem;
    resize: none;
}
.container {
    width: 100%;
    height: 100vh;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup {
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
.popup img {
    width: 100px;
    margin-top: 10px;
    border-radius: none;
    box-shadow: none;
}
.popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.popup p {
    font-size: 15px;
    font-weight: 400;
    margin: 10px 0 10px;
}
.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
}



/* media queries */
@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
    section {
        padding: 2rem;
    }
    .features {
        background-position: center;
    }
}
@media (max-width: 768px) {
    .features .content h3 {
        font-size: 5rem;
    }
    .features .content span {
        font-size: 2.5rem;
    }
}
@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    .heading {
        font-size: 3rem;
    }
}