@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
:root {
    --blue: #4e73df;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: none;
    transition: .2s linear;
}
html {

    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
section {
    padding: 2rem 9%;
}
.heading {
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255, 176, 29, 0.13);
}
.heading span {
    color: var(--blue);
}
.features {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Add this line */
    min-height: 100vh;
    background: url(../images/) no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 62.5%;
}
.features .content {
    max-width: 50rem;

}
.features img {
        max-width: 57%; /* Adjust the width as needed */
        height: auto;
}

.features .content h3 {
    font-size: 6rem;
    color: #333;
}
.features .content span {
    font-size: 3.5rem;
    color: var(--blue);
    padding: 1rem 0;
    line-height: 1.5;
}
.features .content p {
    font-size: 1.5rem;
    color: #999;
    padding: 1rem 0;
    line-height: 1.5;
}
.feature0 .row {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}
.feature0 .row .video-container {
    flex: 1 1 20rem;
    position: relative;
}
.feature0 .row .video-container video {
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    height: 100%;
    object-fit: cover;
}
.feature0 .row .content {
    flex: 1 1 20rem;
}
.feature0 .row .content h3 {
    font-size: 3rem;
    color: #333;
}
.feature0 .row .content p {
    font-size: 1.5rem;
    color: #999;
    padding: .5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}


/* media queries */
@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
    section {
        padding: 2rem;
    }
    .features {
        background-position: center;
    }
}
@media (max-width: 768px) {
    .features .content h3 {
        font-size: 5rem;
    }
    .features .content span {
        font-size: 2.5rem;
    }
}
@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    .heading {
        font-size: 3rem;
    }
}