* {  
  padding: 0;  
  margin: 0;  
  box-sizing: border-box;  
}  

body {  
  width: 100%;  
  min-height: 100vh;  
  background-color: #34495e;  
  position: relative;  
  font-family: 'verdana', sans-serif;  
}  

header {  
  color: #fff;
  width: 100%;  
  height: 80px;
  font-size: 55px;  
  background-color: #2c3e50;  
  display: flex;
  align-items: center;
  justify-content: center;
}  

table {  
  width: 75%;  
  margin: 20px auto; /* Center the table */
  background-color: #34495e; /* Match background color of body */
  color: #fff; /* Text color */
  border-collapse: collapse;
}  

.heading th {  
  padding: 10px 0;  
}  

.data {  
  text-align: center;  
}  

.data td {  
  padding: 15px 0;  
}  

#btn {  
  text-decoration: none;  
  color: #fff;  
  background-color: #e74c3c;  
  padding: 5px 20px;  
  border-radius: 3px;  
  cursor: pointer;
}  

#btn:hover {  
  background-color: #c0392b;  
}  

.returnOption {
  width: 75%; /* Same width as the table */
  margin: 0 auto; /* Center horizontally */
  background-color: #2c3e50;  
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0; /* Add some padding */
}

.btn {
  text-decoration: none;  
  color: black;  
  background-color: #3498db;  
  padding: 10px 20px;  
  border-radius: 5px;  
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  
}

.btn:hover {
  background-color: #2980b9;
}


.return-form{
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  
  width: 75%;
  margin: 0 auto; 
  
    
  
}

